.navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 80%;
  line-height: 1;
  border-top: 2px solid var(--color-pink);
}

.nav__link {
  filter: drop-shadow(4px 4px 3px var(--color-purple));
}

.nav__link--current {
  filter: drop-shadow(4px 4px 3px var(--color-snow));
}
