<nav class="app-grid__nav">
  <a class="nav__link" href="">
    <img
      src="../images/home-solid.svg"
      alt="Home"
      width="30"
      height="30"
    /><br />Home</a
  >
  <a class="nav__link" href="">
    <img
      src="../images/bookmark-solid.svg"
      alt="Bookmark"
      width="30"
      height="30"
    />
    <br />Bookmark</a
  >
  <a class="nav__link" href="">
    <img
      src="../images/plus-square-solid.svg"
      alt="Create"
      width="30"
      height="30"
    />
    <br />Create</a
  >
  <a class="nav__link" href="">
    <img src="../images/cogs-solid.svg" alt="Icon" width="30" height="30" />
    <br />Settings</a
  >
</nav>
