<section class="card">
  <header class="card__header">
    <h2>Question</h2>
    <p>Which city is the capital of Germany?</p>
  </header>
  <section class="card__answer-section">
    <details class="card__answer-toggle">
      <summary>Show Answer</summary>
      Germany's capital is Berlin.
    </details>
    <ul class="card__tag-list">
      <li class="card__tag">#Geography</li>
      <li class="card__tag">#Germany</li>
      <li class="card__tag">#Politics</li>
    </ul>
  </section>
</section>
