.card {
  border: 3px solid var(--color-yellow);
  border-radius: 15px;
  background-color: var(--color-snow);
  padding: 5px;
}

.card__header {
  position: relative;
  text-align: left;
  padding: 5px;
}

.card__bookmark {
  position: absolute;
  top: -15px;
  right: 10px;
  background-image: url('../images/bookmark-regular.svg');
  background-size: cover;
  width: 30px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.card__bookmark--marked {
  position: absolute;
  top: -15px;
  right: 10px;
  background-image: url('../images/bookmark-solid.svg');
  background-size: cover;
  width: 30px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.card__answer-section {
  display: grid;
  justify-items: center;
  text-align: center;
}

.card__answer-toggle {
  border: 1px solid var(--color-pink);
  border-radius: 5px;
  background-color: #eee;
  padding: 0 5px;
}

.card__tag-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.card__tag {
  border: 1px solid var(--color-pink);
  border-radius: 5px;
  background-color: #eee;
  padding: 2px 4px;
  font-size: 70%;
}
