.create-form__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.create-form__input {
  resize: none;
  margin: 1.5em 0;
  width: 100%;
  background: white;
}

.create-form__input-label {
  display: block;
  padding: 0.313em 0.625em;
  margin-bottom: 0.625em;
  background: var(--color-snow);
}

.create-form__submit-button {
  width: 150px;
  justify-self: center;
  background: var(--color-snow);
  padding: 0.313em 0.625em;
  border-radius: 5px;
}
