<form class="create-form__grid" action="#">
  <label for="add-question-input" class="create-form__input-label"
    >Add a question here:</label
  >
  <textarea
    name="question"
    id="add-question-input"
    cols="30"
    rows="10"
    class="create-form__input bd-3-yellow"
  ></textarea>
  <label for="add-answer-input" class="create-form__input-label"
    >What is the answer to your question?</label
  >
  <textarea
    name="question"
    id="add-answer-input"
    cols="30"
    rows="10"
    class="create-form__input bd-3-yellow"
  ></textarea>
  <label for="add-tags-input" class="create-form__input-label"
    >Please add some tags to describe your question:</label
  >
  <input
    id="add-tags-input"
    type="text"
    class="create-form__input bd-3-yellow"
  />
  <button type="submit" class="create-form__submit-button bd-1-pink">
    Submit
  </button>
</form>
