<nav class="navigation">
  <a class="nav__link" href="">
    <img src="../images/home-solid.svg" alt="Home" width="30" height="30" />
    <div>Home</div></a
  >
  <a class="nav__link" href="">
    <img
      src="../images/bookmark-solid.svg"
      alt="Bookmark"
      width="30"
      height="30"
    />
    <div>Bookmark</div></a
  >
  <a class="nav__link" href="">
    <img
      src="../images/plus-square-solid.svg"
      alt="Create"
      width="30"
      height="30"
    />
    <div>Create</div></a
  >
  <a class="nav__link" href="">
    <img src="../images/cogs-solid.svg" alt="Icon" width="30" height="30" />
    <div>Settings</div></a
  >
</nav>
