<section class="card bd-3-yellow">
  <header class="card__header">
    <h2>Question</h2>
    <p>Which city is the capital of Germany?</p>
    <button class="card__bookmark"></button>
  </header>
  <section class="card__answer-section bd-1-pink">
    <input
      type="button"
      class="card__answer-toggle bd-3-yellow"
      value="Show Answer"
    />
    <p hidden>Germany's capital is Berlin.</p>
  </section>
  <ul class="card__tag-list">
    <li class="card__tag bd-1-pink">#Geography</li>
    <li class="card__tag bd-1-pink">#Germany</li>
    <li class="card__tag bd-1-pink">#Politics</li>
  </ul>
</section>
